* {
    box-sizing: border-box;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

body {
    background-image: url("https://cdn-a.william-reed.com/var/wrbm_gb_food_pharma/storage/images/publications/food-beverage-nutrition/beveragedaily.com/article/2018/09/28/digital-remains-untapped-by-drinks-firms/8597278-1-eng-GB/Digital-remains-untapped-by-drinks-firms_wrbm_large.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* header {
    background-color: #ffffff;
    border-bottom: #cccccc solid 5px;
    display: flex;

} */

#myname {
    background-color: #4a64aa;
    color: lightgrey;
    justify-content: center;
    padding: 20px;
}

#about {
    color: #4aaaa5;
    font-size: 2rem;
}

.main {
    /* width: 960px;
    margin: 0 auto; */
    background-color: #ffffff;
    border: solid 1px #dddddd;
    margin-top: 40px;
    padding: 0 20px 20px;;
    line-height: 2;
    /* padding-right: 200px; */
}

/* nav {
    align-self: center;
    margin-left: auto;
    justify-content: space-between;
    position: relative;
    right: 350px;
    width: 200px;
} */

#navlines {
    border-left: 2px solid #4a64aa;
    border-right: 2px solid #4a64aa;
    padding-left: 13px;
    padding-right: 13px;
}

.navtext {
    color: lightgrey;
}

.floatleft {
    float: left;
    margin-right: 10px;
    border-right: 3px solid lightgray;
    float: left;
    padding-right: 10px;

}

footer {
    background-color: #4a64aa;
    padding: 35px;
    /* margin-top: 250px; */
    width: 100%;
    position: relative;
    bottom: 0px;
}

#submitbutton {
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 10px;
    margin-top: 10px;
}

#submitbutton:hover {
    color: lightgray;
}

#contactinfo {
    border: #4a64aa 2px solid;
    padding: 5px;
}

.ppicture {
    position: relative; 
    margin: 20px;
    display: inline-block;
}

.picturetext {
    position: absolute; 
    bottom: 35px;
    background-color: #4aaaa5;
    color: white;
    width: 200px;
    text-align: center;
    padding: 8px;
}

a:hover {
    color: #4a64aa;
}

.picbutton {
    text-align: center;
    position: absolute; 
    bottom: 10px;
    width: 200px;
}

#horizontalrow {
    border: #4a64aa .5px solid;
}